<a href="https://colab.research.google.com/github/JonasBRibeiro/firtsprojetc-/blob/main/introsql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import sqlite3

# 1. Conectar ao banco de dados (ou criar um novo)
# Usando a funçao connect do modulo sqlite3 para se conectar a um bando de dados SQLite
# Chamado 'exemplo.db'. Se o banco de dados nao existir ele sera criado automaticamente
conn = sqlite3.connect('exemplo.db')

# 2. Criar um objeto cursor
# O cursor é usado para executar comandos SQL no banco de dados.
#Ele atua 'como uma especie de ponteiro que percorre os resultados de consultas.
cursor = conn.cursor()

# 3. Definir  o comando SQL para criar a tabela
#define uma string create_table que contem um comando SQL para criar uma teabela chamda "Produtos"
#Esta tavela tera quatro colunas: id (chave primaria), bine (texto), preco (numero real) e estoque (numero inteiro).
# O IF NOT EXIST garante que a taveka so sera criada se ainda nao existir
create_table = """
CREATE TABLE IF NOT EXISTS Produtos (
    id INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    preco REAL NOT NULL,
    estoque INTEGER
);
"""
#Usa o metado execute do onjeto cursor para executar o comando SQL difinido anteriormente e criar a tabela no banco de dados
# 4. Executar o comando SQL para criar a tabela
cursor.execute(create_table)


# 5. Confirmar as alteraçoes (commit)
#Após a execuçao bem-sucedida do comando SQL, usa o metodo commit no objeto de conexao (conn) para confirmar as alteraçoes no banco de dados
#Isso garante que as alteraçoens sejam efetivamente aplicadas
conn.commit()


# 6. Fechar a conexao com o bando de dados
# Finalmente, voce usa o metado 'close no objeto de conexao para encerrar a conexao com o banco de dados.
#É uma pratica recomendada fechar a conexao apos a conclusao das operacoes para livrar recursos e evitar possiveis problemas de concorrencia.
conn.close()

In [12]:
#adicionar produto
import sqlite3
# Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
# Dados do novo produto
novo_produto = ('Camiseta', 29.99, 50)
# Comando SQL para inserir o novo produto na tebela
inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)"
# Executando o comando SQL para inserir o novo produto
cursor.execute(inserir_produto, novo_produto)
# Confirmando as alterações
conn.commit()
# Fechando a conexão
conn.close()

In [17]:
#Visualizar o produto
# Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
# Comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM Produtos"
# Executando o comando SQL
cursor.execute(selecionar_produtos)
# Obetendo todos os registros e exibindo-os
produtos = cursor.fetchall()
for produto in produtos:
  print(produto)
# Fechando a conexão
conn.close()

(2, 'Camiseta', 29.99, 50)

In [14]:
#Atualizar produto
import sqlite3
# Conectando ao bando de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
# Novo preço e ID do produto a ser atualizado
novo_preco = 24.99
produto_id = 1 # Suponhamos que queremos atualiza o produto com ID 1
# Comando SQL para atualizar o preço do produto
atualizar_preco = "UPDATE Produtos SET preco = ? WHERE id = ?"
# Executando o comando SQL para atualizar o preço do produto
cursor.execute(atualizar_preco, (novo_preco, produto_id))
# Confirmando as alterações
conn.commit()
# Fechando conexao
conn.close()

In [16]:
#excluir produto
import sqlite3
# Conectando ao bando de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()
# ID do produto a ser excluido
produto_id = 1 # Suponhamos que queremos excluir o produto com ID 1
# Comando SQL para excluir o produto
exluir_produto = "DELETE FROM Produtos WHERE id = ?"
# Executando o comando SQL para excluir o produto
cursor.execute(exluir_produto, (produto_id,))
# Confirmando as alterações
conn.commit()
# Fechando conexao
conn.close()

In [18]:
import sqlite3
# CREATE (Criaçao da tabela e inserçao de daos de exemplo)
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Contatos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT,
    email TEXT,
    telefone TEXT
    )
''')
dados_exemplo = [
    ('João', 'joao@email', '123-456-7890'),
    ('Maria', 'maria@email', '987-654-3210'),
    ('Pedro', 'pedro@email', '555-555-5555')
]
cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)
conn.commit()

# READ (Leitura a exibiçao dos contatos)
cursor.execute('SELECT * FROM Contatos')
contatos = cursor.fetchall()
print("Contatos:")
for contato in contatos:
    print(contato)
# UPDATE (Atualizaçao no numero de telefone do tontato com ID 2)

novo_telefone = '999-999-9999'
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, 2))
conn.commit()

Contatos:
(1, 'João', 'joao@email', '123-456-7890')
(2, 'Maria', 'maria@email', '987-654-3210')
(3, 'Pedro', 'pedro@email', '555-555-5555')